{
  "parser": "babel-eslint",
  "plugins": ["jsx-a11y"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "overrides": [
    {
      "files": ["src/**/*.js"]
    }
  ],
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "jsx-a11y/accessible-emoji": 0
  }
}
